.container
  .row
    .center-form.panel
      .panel-body
        h2.text-center Log in
        form(method='post', ng-submit='login()', name='loginForm')
          .form-group.has-feedback
            input.form-control.input-lg(type='text', name='email', ng-model='email', placeholder='Email', required='', autofocus='')
            span.ion-at.form-control-feedback
          .form-group.has-feedback
            input.form-control.input-lg(type='password', name='password', ng-model='password', placeholder='Password', required='')
            span.ion-key.form-control-feedback
          button.btn.btn-lg.btn-block.btn-success(type='submit', ng-disabled='loginForm.$invalid') Log in
          br
          p.text-center
            a(href='#') Forgot your password?
          p.text-center.text-muted
            small
              | Don&apos;t have an account yet?
              a(href='/#/signup') Sign up
          .signup-or-separator
            h6.text or
            hr
        button.btn.btn-block.btn-facebook(ng-click="authenticate('facebook')")
          i.fa.fa-facebook
          |  Sign in with Facebook
        button.btn.btn-block.btn-google-plus(ng-click="authenticate('google')")
          span.fa.fa-google
          |  Sign in with Google
        button.btn.btn-block.btn-linkedin(ng-click="authenticate('linkedin')")
          i.fa.fa-linkedin
          |  Sign in with LinkedIn
        button.btn.btn-block.btn-twitter(ng-click="authenticate('twitter')")
          i.fa.fa-twitter
          |  Sign in with Twitter
        button.btn.btn-block.btn-foursquare(ng-click="authenticate('foursquare')")
          i.fa.fa-foursquare
          |  Sign in with Foursquare
        button.btn.btn-block.btn-github(ng-click="authenticate('github')")
          i.fa.fa-github
          |  Sign in with GitHub
        button.btn.btn-block.btn-yahoo(ng-click="authenticate('yahoo')")
          i.fa.fa-yahoo
          |  Sign in with Yahoo
        button.btn.btn-block.btn-live(ng-click="authenticate('live')")
          i.fa.fa-windows
          |  Sign in with Windows Live
